body {
	/* Gradient provided by uigradients.com */
	background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dce35b, #45b649); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dce35b, #45b649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	text-align: center;
	margin: auto 0;
	margin-bottom: 30px;
}

.buttons { 
	text-align: center;
}

#grid {
	background: gray;
	margin: 0 auto;
	width: 720px;
	height: 720px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start
	justify-content: flex-start;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 1 1 auto;
}

.grid-cell {
	background: white;
	flex: 1 1 auto;
	border: 1px solid black;
}

.black {
	background: rgba(0, 0, 0, 0.8);
}